{
    "presets": [
        "@babel/env",
        [
            "@babel/typescript",
            {
                "jsxPragma": "h"
            }
        ],
        [
            "@babel/react",
            {
                "pragma": "h"
            }
        ]
    ],
    "plugins": [
        "transform-class-properties"
    ]
}