{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "webextensions": true,
        "jest": true
    },
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "plugins": [
        "standard",
        "promise",
        "react"
    ],
    "rules": {
        "react/react-in-jsx-scope": 0,
        "react/prop-types": 0,
        "no-unused-vars": [
            1,
            {
                "varsIgnorePattern": "^h$"
            }
        ]
    },
    "globals": {
        "genres": true
    }
}